}
p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}
nav {
  margin: 0;
  padding: 0;
  background-color:white;
  font-family:Geneva, Arial, Helvetica;
  font-size: 80%;
}

span.ssm {display:flex; justify-content: space-between; align-items: center}

li[role=btop] {border-top: solid; border-right:solid; border-left: solid; border-width: 1px; }
li[role=bmid] {border-right:solid; border-left: solid; border-width: 1px; }
li[role=bbottom] {border-right:solid; border-left: solid; border-bottom: solid; border-width: 1px; }

.ssmseparator {border-bottom: solid; border-width:1px; display:inline; padding-left:0px; margin-left:20px; padding-bottom:3px}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: white;
}

nav a {
  display: block;
  padding: 0 20px;
  color: black;
//  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}

nav ul li ul li:hover { background: lightgray; }

nav a:hover { background-color: lightgray; }

nav ul ul {
  display: none;
  position: absolute;
  top: 17px;
}

nav ul ul ul {
//	border: solid;
}


.box { border: solid; border-width:1px}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 21em;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -25px;
  left: 21em;
}

//li > a:after { content: ' +'; }

nav li > a:only-child:after { content: ''; }

nav hr {border-top:0px}
/* Media Queries
--------------------------------------------- */

@media all and (max-width : 400px) {

.ssmseparator {border-bottom: solid; border-width:1px; display:inline; padding-left:20px; padding-bottom:3px}


nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: white;
  padding: 0 20px;
  color: black;
//  font-size: 90%;
//  font-weight:bold;
  line-height: 25px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: white; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: white; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: white; }

nav ul ul {
  float: none;
  position: static;
  color: black;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}