<div id="retrieveCollationModal" style="font-size: 110%; height:100%;">
  <div  modal-draggable class="modalHeader">{{header}}
    <button type="button" (click)="closeModalCE()" class="close" data-dismiss="modal" style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;</button>
  </div>
  <div style="height:520px; width: 100%; overflow:scroll; position:absolute">
    <div *ngIf="message.length>0" class="alert alert-danger" style="margin-bottom: 1px;">
      {{message}}
    </div>
    <div *ngIf="success.length>0" class="alert alert-success" style="margin-bottom: 1px">
      {{success}}
    </div>
    <p style="margin: 15px">
	  <input type="radio" name="partCollations" (click)="chooseCollations(true)" [checked]="everycollation" /> This will download all approved collations within this community. ({{nAllCollations}} approved collation units)
   </p>
   <p style="margin: 15px">
	  <input type="radio" name="partCollations"  (click)="chooseCollations(false)" [checked]="!everycollation" /> Specify the range/ranges for the collations which you want to download.
   </p>
   <div *ngIf="!everycollation" style="margin: 15px">
   	<p style="margin: 15px">From entity (example: {{ranges[0].start}}; replace X and Y values as needed)</p>
     <table style="margin: 15px">
	   <tr *ngFor="#range of ranges; #i = index" style="width:100%">
	   <td style="width:30%">
       	<input type="text" size="30" style="display: inline-block; border-width: 1px; border-style: solid;" (keyup)="clickEntity(i)" [(ngModel)]="range.start"> 
       </td>
       <td style="width:10%; text-align: center"> to </td>
       <td style="width:30%">
       	<input type="text" size="30" style="display: inline-block; border-width: 1px; border-style: solid;" (keyup)="clickEntity(i)" [(ngModel)]="range.end">
       </td>
       <td style="width:10%; text-align: center">{{range.count}}</td>
      <td style="width:5%">
       	<span *ngIf="i>0" data-toggle="tooltip"  title="Remove ranger" (click)="removeRange(i)" class="add-document">
		 <img class="menuimg" height="18" width="18" src="../../images/cancel.png">
	   </span>
	   </td>
	   <td style="width:5%">
         <span *ngIf="i==ranges.length-1" data-toggle="tooltip"  title="Add rangee" (click)="addRange()" class="add-document">
			<img class="menuimg" height="18" width="18" src="../../images/adddocument.png">
	      </span>
	    </td>
      </tr>
     </table>  
   </div>
  <hr style="border: 1px solid #8c8b8b; margin-bottom: 5px; margin-top:0px; position: relative; top: 2px ">
    <div style="text-align:center"> Output as: 
   		<input type="radio" name="outputForm" value="TEI" checked /> TEI/XML 
   		<input type="radio" value="JSON" name="outputForm"/> JSON 
   </div>

  <div class="form-group" style="text-align: center; height: 18px; position: relative; top: 4px">
     <button type="button" class="btn btn-primary" (click)="submit()">Download Collations</button>
  </div>
</div>
