div.innertube3{
margin: auto; /*Margins for inner DIV inside each DIV (to provide padding)*/
padding: 5px;
max-width: 1024px;
}

div.titlep {
	display:flex;
	justify-content: space-around;
	align-items: center;
}
p.author {font-size: 140%;
 	text-align: center;
 	font-family: "Junicode";
	margin-top: 15px;  
	margin-bottom: 0px;  
 }

 p.work2 {font-size: 130%;
 	text-align: center;
 	font-family: "Junicode";
	margin-top: 10px;  
	margin-bottom: 10px;  
 }
 
  p.work {font-size: 350%;
	margin-top: 2px;  
 	text-align: center;
 	font-family: "Junicode";
 	font-style: italic;
	margin-bottom: 0px;  
 }

 p.editor{font-size: 110%;
	margin-top: 2px;  
 	text-align: center;
 	font-family: "Junicode";
 }
  p.editor1{font-size: 110%;
	margin-bottom: 0px;  
	margin-top: 0px;  
 	text-align: center;
 	font-family: "Junicode";
 }
  p.editor2{font-size: 110%;
	margin-top: 2px;  
 	text-align: center;
 	font-family: "Junicode";
 }

  p.editor3{font-size: 100%;
	margin-top: 25px;  
	margin-bottom: 5px;
 	text-align: center;
 	font-family: "Junicode";
 	font-style: normal;
 }

  p.funder{font-size: 100%;
	margin-top: 5px;  
	margin-bottom: 5px;
 	text-align: center;
 	font-family: "Junicode";
 	font-style: normal;
 }

  p.dedication{font-size: 90%;
	margin-top: 25px;  
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
 	text-align: center;
 	font-family: "Junicode";
 	width: 320px;
 }
 
 p.dedication2{font-size: 90%;
	margin-top: 2px;  
	margin-left: auto;
	margin-right:auto;
 	text-align: center;
 	font-family: "Junicode";
 	font-style: italic;
 }
 p.byline2 {
 	text-align: right;
 	margin-right: 40px;
 	margin-bottom:40px;
 	}
 p.subtitleTP {
 	text-align: center;
 	margin:2px;
 	}
  p.acknowledgement {
 	text-align: center;
 	margin:0px;
 	}


 table.titlep {text-align: center; width: 100%}
 p.titlep {font-family: "Junicode"; line-height: 1.5; margin-left: 2em; text-indent: -1em; margin-bottom: 0.5em; margin-top: 0.5em}
 
table.team {margin-left:15px}
tr.team { margin-right:50px;}
td.team1 {vertical-align: top; width:10em; }
p.team {margin-left: 4em; text-indent: -2em; margin-top:0px; margin-bottom:0px;}
td.team2 {vertical-align: top;  }

h2#TitlePage {display:none;}


 
  