<div style="font-size: 110%; height:100%;">
  <div class="modalHeader">
  	Accumulate spellings from XML apparatus (words, not lemmata) into a single JSON file
    <button type="button" (click)="closeModalADX()" class="close" data-dismiss="modal" style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;</button>
  </div>

  <form>
    <div *ngIf="message.length>0" class="alert alert-danger" style="margin-bottom: 3px; margin-top: 3px">
      {{message}}
    </div>
    <div *ngIf="success.length>0" class="alert alert-success" style="margin-bottom: 3px; margin-top: 3px">
      {{success}}
    </div>
  </form>
  <!-- div id="MMADXTdiv" class="form-group" style="width: 100%; margin-top: 8px; margin-left: 20px; margin-right: 20px">
    <label style="display: inline-block; vertical-align: top">XML&nbsp;&nbsp;</label>
    <textarea [(ngModel)]="text" rows="11" cols="40">
    </textarea>
  </div-->
  <div id="MMADXFdiv" class="form-group" style="margin-top: 5px;">
   Load existing JSON cumulative spelling file:
    <tc-filereader (filechange)="filechange($event)"></tc-filereader>
   Load XML apparatus file to add to cumulative spelling file:
    <tc-filereader (filechange)="filechange($event)"></tc-filereader>
    <div style="text-align: center; margin-top: 10px">
      <button type="button" class="btn btn-primary" (click)="submit()">Accumulate</button>
    </div>
  </div>
</div>