<div style="margin-right:auto; margin-left:auto; width:90%" class="description">
<h3 *ngIf="findString" style="text-align: center">Search for text in documents for {{state.community.attrs.longName}} {{state.community.attrs.abbr}}</h3>
<h3 *ngIf="findUncommitted" style="text-align: center">Find pages transcribed but not committed in {{state.community.attrs.longName}} {{state.community.attrs.abbr}}</h3>
<div *ngIf="error" class="alert alert-danger">
      {{error}}
</div>
<div style="display:flex; justify-content:space-evenly">
<span *ngIf="findString">Search for <input type="text" style="display: inline-block; border-width: 1px; border-style: solid; height: 30px; width: 100px" [(ngModel)]="searchString">  
</span>
<span *ngIf="findUncommitted">Search for pages transcribed but not committed 
</span>
<span>
 <input type="checkbox" [(ngModel)]="searchAll"> In all documents 
</span>
<span *ngIf="!searchAll"> 
   		In document
        <input type="text" style="width: 100px" [(ngModel)]="document">
</span>
<span>
  <button type="button" class="btn btn-primary btn-md" 		(click)="doSearch()">Search</button>
</span>
</div>
<div style="display:flex; justify-content:space-evenly; align-items:center; height: 50px" *ngIf="inSearch">
<span *ngIf="findString">Searching page {{pageN}}, page {{nPage}} of {{nPages}} in {{document}}
</span>
<span *ngIf="findUncommitted">Finding pages transcribed but not committed {{pageN}}, page {{nPage}} of {{nPages}} in {{document}}
</span>
<span>
 <button type="button" class="btn btn-primary btn-md" (click)="stopSearch=true">Stop search</button>
</span>
</div>
<div id="TCsearchResults" style="overflow:auto; height: 400px">
</div>	
</div>
